.auto{
    background-color: rgba(9, 10, 15, 0.80);
    color: white;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    margin-top: -200px;
    right: 5px;
    top: 50%;
}
.auto i{
    transition: .6s;
    font-family: "icons";
    font-style: normal;
    cursor: pointer;
    padding: 10px;
    background-color: #090A0F;
    border-radius: 5px;
}
.auto i:hover{background-color: rgb(255, 255, 255); color: #090A0F;}
.auto .list div{
    width: 150px;
    padding: 9px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    background-color: #090A0F;
}
.auto h1{
    margin: 0;
    padding: 15px;
    font-size: 20pt;
    background-color: #090A0F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.auto .left-arrow{
    float: left;
}
.auto .right-arrow{
    float: right;
}
.auto .list{
    margin-left: 8%;
    margin-top: 15px;
    width: 250px;
}
.auto .items{
    height: 200px;
}
.auto .btns{
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.auto .btn{
    padding: 10px;
    border-radius: 2px;
    border: 2px solid;
    cursor: pointer;
}
.auto .buy{
    border: none;
    background: #15B84C;
    transition: .6s;
    margin-bottom: 10px;
}
.auto .exit{
    border: none;
    background: #E03C3B;
    transition: .6s;
}
.auto .buy:hover{
    background-color: rgb(15, 131, 54);
}
.auto .exit:hover{
    background-color: rgb(172, 47, 47);
}