body {
    font-family: 'Ubuntu', sans-serif;
}

hr{
    background: rgba(255, 255, 255, 0.2);
    border: none;
    height: 2px;
    width: 88%;
}

.editor .header_block_info{
    position: relative;
    display: inline-block;
    background: url(../img/character_users.png) no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    color: #fff;
    top: -5px;
}

.editor .header_block_info h1{
    text-align: left;
    font-size: 26px;
}

.editor .header_block_info p{
    text-align: left;
    width: 70%;
}


.editor {
    width: 42vh;
    height: 98vh;
    max-height: 98vh;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    background: rgba(9, 10, 15, 0.65);
    text-align: center;
    color: white;
}

    /* .editor h1 {
        color: white;
        padding: 8px;
        margin: 10px;
        font-size: 10pt;
        text-align: center;
        font-weight: 300;
    } */

    .editor h3 {
        margin: 8px;
        font-size: 18pt;
        font-weight: 300;
        color: white;
    }

    .editor .button {
        background: #090A0F;
        border-radius: 3px;
        color: white;
        padding: 12px;
        margin: 12px;
        font-size: 10pt;
        text-align: center;
        font-weight: 300;
        cursor: pointer;
    }

        .editor .button:hover {
            background: #fff;
            color: #090A0F;
        }
    .editor .slider {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }


.info_character{
    display: flex;
}

.info_character hr{
    width: 100px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.element {
    padding: 8px;
    color: white;
}


.switch{
    margin: 10px 0;
    display: block;
}
.switch .btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    background: rgba(9, 10, 15, 0.8);
}
.switch .on{
    background-color: #fff;
    color: #000;
}
.list {
    margin-top: 8px;
    text-align: center;
}

    .list div {
        padding: 8px;
        width: 57%;
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: #090A0F;
        display: inline-block;
    }

    .list .left {
        background-color: #fff;
        color: #090A0F;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: inline-block;
    }

    .list .right {
        background-color: #fff;
        color: #090A0F;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: inline-block;
    }

        .list input:hover, .list .right:hover, .list .left:hover {
            background-color: #090A0F;
            color: #fff;
            cursor: pointer;
        }

        .list input:active, .list .right:active, .list .left:active {
            background-color: #fff;
            color: #090A0F;
            cursor: pointer;
        }
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background: #ddd; 
}