.dialog p {
    margin: 0;
}

.dialog {
    position: absolute;
    left: 50%;
    border-radius: 5px;
    top: 50%;
    margin: -200px 0 0 -230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    height: 220px;
    background-color: rgba(43, 42, 47, 0.89);
}

    .dialog .field_ques {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 535px;
        height: 170px;
        border-top-right-radius: inherit;
    }

    .dialog .question {
        max-width: 360px;
        height: auto;
        text-align: center;
    }

        .dialog .question p {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }

    .dialog .buttons {
        justify-content: space-around;
        align-items: center;
        display: flex;
        width: 410px;
        height: 100px;
        border-bottom-left-radius: inherit;
    }

.dialog button {
    padding: 10px 60px;
    border-radius: 3px;
    border-style: none;
}

    .dialog .yes {
        transition: .6s;
        background: none;
        border-bottom: solid 2px #00bd00;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }

    .dialog .no {
        transition: .6s;
        background: none;
        border-bottom: solid 2px #f24841;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }

    .dialog .yes:hover{
        cursor: pointer;
        background: #00bd00;
    }

    .dialog .no:hover{
        cursor: pointer;
        background: #f24841;
    }