.masks{
    margin-left: 150px;
    height: 600px;
    width: 600px;
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    margin-top: -200px;
    background-image: url(../res/weap/Classic/Classic-mask.png);
}
.masks .right{
    float: right;
    height: 100%;
    width: 300px;
   /* background-color: white;*/
    border-radius: 10px;
}
.masks .left{
    height: 100%;
    width: 50px;
    padding-top: 62px;
    float: left;
}
.masks i{
    margin-top: 35px;
    font-family: "icons";
    font-style: normal;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(8, 123, 218, 0.877);
    border-radius: 15px;
}
.masks i:hover{background-color: rgba(14, 72, 119, 0.877)}
.masks .list div{
    margin-top: 35px;
    width: 155px;
    padding: 9px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(31, 31, 31);;
}
.masks h1{
    margin: 0;
    padding: 15px;
    font-size: 20pt;
    /*background-color: #e53935;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.masks .left-arrow{
    float: left;
}
.masks .right-arrow{
    float: right;
}
.masks .list{
    margin-left: 8%;
    margin-top: 15px;
    width: 250px;
}
.masks .items{
    height: 200px;
}
.masks .btn{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
    margin: 10px;
}
.masks .buy{
    background-color: rgb(218, 125, 20);
    margin-bottom: 10px;
    border-radius: 25px;
    width: 80px;
    margin-left: 30px;
}
.masks .exit{
    background-color: #3587e5;
    border-radius: 25px;
    width: 80px;
    margin-left: 160px;
    margin-top: -52px;
}
.masks .buy:hover{
    background-color: rgb(148, 98, 32);
}
.masks .exit:hover{
    background-color: #2665ad
}
.masks .icon{
    height: 50px;
    width: 300px;
    background-color: #5050505e;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.masks .icon.active{
    background-color: #4d4d4d5b;
}
.masks .icon:hover{
    background-color: #ad590a80;
}
.masks p{
    
}
.masks p span{
    
}
.masks .mask{
    background-image: url(../res/weap/Classic/mask.png);
}
.masks .mask:hover{
    background-image: url(../res/weap/Classic/mask1.png);
}