.plist {
    background: rgba(9, 10, 15, 0.80);
    height: 97%;
    margin-left: -300px;
    border-radius: 5px;
    position: absolute;
    width: 600px;
    left: 50%;
    overflow: hidden;
}

    .plist .head {
        margin: 10px
    }

    .plist img {
        float: left;
        width: 50px;
    }

    .plist h1 {
        float: left;
        margin: 12px;
        color: white;
        font-size: 18pt
    }

    .plist span {
        float: right;
        color: white;
        font-size: 18pt;
        margin: 12px;
    }

    .plist .list {
        color: white;
        width: 100%;
        margin: 40px 0;
        overflow: hidden;
        overflow-y: scroll;
        height: 87%;
    }

    .plist table {
        width: 100%;
        text-align: center;
    }
