* {
    margin: 0;
    padding: 0;
}

.button {
    cursor: pointer;
    transition: 1s;
    padding: 15px 115px;
    font-family: "UniNeueRegular";
    font-size: 1vw;
    color: #090A0F;
    border-radius: 3px;
    border: none;
    background: #fff;
    /* position: absolute; */
    bottom: 0px;
    transition: 0.5s;
}

    .button:hover {
        background-color: #090A0F;
        color: #fff;
    }

.wrapper_respawn{
    /* display: none; */
    height: 100vh;
    font-family: "UniNeueRegular";
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background: url('../img/bg_auth.png') no-repeat;
    background-size: cover;
}

.wrapper_respawn h1{
    line-height: 120px;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}

.spawn_position{
    display: block;
    margin: 0 auto;
    justify-content: center;
}

.respaw_nO_nExit, .respawn_Fraction, .spawn_home{
    display: none;
    /* display: grid; */
}

.respaw_nO_nExit{
    display: grid;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    background: linear-gradient(180deg, #090A0F 0%, rgba(9, 10, 15, 0.45) 100%), url('../respown/exit.png') no-repeat;
    background-size: cover;
    width: 717px;
    height: 250px;
}

.respaw_nO_nExit p{
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}

.respawn_Fraction{
    margin-top: 35px !important;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(180deg, #090A0F 0%, rgba(9, 10, 15, 0.45) 5%), url('../respown/resp_fraction.png') no-repeat;
    background-size: cover;
    width: 717px;
    height: 250px;
}

.respawn_Fraction p{
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}

.spawn_home{
    display: none;
    margin-top: 35px !important;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(180deg, #090A0F 0%, rgba(9, 10, 15, 0.45) 5%), url('../respown/home_spawn.png') no-repeat;
    background-size: cover;
    width: 717px;
    height: 250px;
}

.spawn_home p{
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}



.respawn_Fraction_no{
    display: none;
    margin-top: 35px !important;
    /* display: grid; */
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(180deg, #090A0F 0%, rgba(9, 10, 15, 0.45) 5%), url('../respown/resp_fraction.png') no-repeat;
    background-size: cover;
    width: 717px;
    height: 250px;
}

.respawn_Fraction_no p{
    margin-top: 25px;
    color: #fff;
    font-size: 24px;
}

.spawn_home_no{
    display: none;
    margin-top: 35px !important;
    /* display: grid; */
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(180deg, #090A0F 0%, rgba(9, 10, 15, 0.45) 5%), url('../respown/home_spawn.png') no-repeat;
    background-size: cover;
    width: 717px;
    height: 250px;
}

.spawn_home_no p{
    margin-top: 25px;
    color: #fff;
    font-size: 24px;
}